@charset "utf-8";
*{
    box-sizing: border-box;	
}
html{
	scroll-behavior: smooth;
	min-width: 350px;
}
h1{
    font-size: 2.5em; /*Tamaño de letras*/
	text-align: center;
}
h3{
    font-size: 2em;/*Tamaño de letras*/
	text-align: center;
}
p{
    font-size: 1.3em;/*Tamaño de letras*/
}
ul{
    list-style: none;/*Tamaño de letras*/
}
li{
    font-size: 1.5em;/*Tamaño de letras*/
}
body{
	font-family: 'roboto' , sans-serif;
	margin: 0;
}
/*encabezado*/
header{
    background-color: #0077b6;
    top: 0%;
    width: 100%;
    height: 90px;
}
header .logo-header{
    display: flex;
    margin-left: 10px;
    padding: 0;
    font-weight: bold;
    text-align: left;
    color: white;/*Color de letras*/
    font-size: 1.6em;
    height: 100%;
	align-items: center;
}
header .container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
	align-content: space-between;
}
/*navegador*/
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    align-content: center;
    position: absolute;
    right: 1px;
}
header ul li{
	display: inline-block;
}
#menu{
	display: none;
}
#menu-movil{
    list-style: none;
    padding: 0px;
}
#menu-movil li{
    position: relative;
    display: inline-block;
}
#menu-movil li:hover ul{
	display: block;
	
}
#menu-movil ul{
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 2px;
	background-color: #0077b6;
}
#menu-movil ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
}
#menu-movil li a:hover{
	color: #00b4d8;
}
#menu-movil li a{
	padding: 10px;
	text-decoration: none;
}
/*hipervinculos*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;/*Color de letras*/
}
header a:hover{
    color: #00b4d8;/*Color de hipervinculos*/
}
/*contenido*/
.main_panel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.capsule{
    width: 96%;
    margin-top: 20px;
}
.left_panel{
    width: 100%;
}
#video{
    width: 100%;
    height: 270px;
    border-radius: 11px;
}
.right_panel{
    width: 100%;
    text-align: justify;
    padding: 0px;
}
#log{
	display: flex;
	align-items: center;
	flex-direction: column;
}
#logo-Juego{
    width: 60%;
    margin-top: 3px;
	}
.description{
    margin-bottom: 6px;	
}
.resenas{
    margin-bottom: 6px;	
}
.tags{
    margin-bottom: 6px;	
}
/*carrusel*/
#carrousel{
	padding-top: 60px;
}
#carrousel-box{
    background-color: #333533;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 100%;
}

.carrousel ul{
	list-style: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.carrousel-items{
	display: flex;
	gap: 10px;
	overflow: auto;
}
.carrousel-items img{
    width: 410px;
    height: 231px;
    object-fit: contain;
    -webkit-box-shadow: 5px 7px #282828;
    box-shadow: 5px 7px #282828;
    border-radius: 5px;
}
.carrousel-menu{
    display: none;
}
/*tabla*/
#tab{
    width: 100%;
    align-items: center;
}
#tabla td, th {
	text-align: center;
	border: 2px solid black;
	padding: 8px;
	height: 70px;
}
#requisitos{
	border: 2px solid black;
	width: 90%;
	padding:0px;
	margin: 0px auto;
	font:italic;
}
/*comprar*/
#tienda{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
	padding: 20px 0px;
	margin-bottom: 20px;
}
#tmovil{
	text-align: center;
	margin-top: 30px;
}
#tpc{
	display: none;
	width: 646px;
	height: 190px;
}
#steam{
	text-align: center;
	font-size: 1.4em;
}
/*pie de pagina*/
footer{
    background-color: #333533; /*Color de fondo*/
    text-align: center;
}
footer a{
    margin: 0;
    color: white;/*Color de letras*/
    justify-content: center;
    display: flex;
}
footer p{
    margin: 0;
    color: white;/*Color de letras*/
    padding: 15px;
}
footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer button{
    font-size: 1.5em;/*Tamaño de letras*/
    font-weight: bold;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-sizing: 2px 2px 10px rgb(0,0,0,0.5);
    color: white;/*Color de letras*/
    background-color: #0077b6;/*Color de fondo*/
}
footer button:hover{
    background-color: #01497c;
}



@media (min-width:1000px){
	body{
		margin-top: 100px;
	}
	/*encabezado*/
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
    	flex-direction: row;
    	justify-content: space-between;
    	width: 100%;
	}
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
	#menu{
		display: block;
	}
	#menu-movil{
		display: none;
	}
	/*contenido*/
	.left_panel{
		width: 75%;
		height: 750px;
	}
	#video{
		width: 100%;
		height: 750px;
		left: 0%;
	}
	#logo-Juego{
		width: 100%;
	}
	.right_panel{
    	width: 24%;
    	text-align: justify;
    	float: right;
    	margin-top: -760px;
	}
	
	/*carrusel*/
	#carrousel{
    padding-top: 90px;
	}
	.carrousel-items{
		overflow: hidden;
	}
	.carrousel-items img{
		width: 993px;
		height: 559px;
	}
	.carrousel-menu{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
    top: 96px;
	}
	.carrousel-menu img{
    box-sizing: border-box;
    width: 80px;
    height: 50px;
    margin-top: 15px;
    border: 5px double #1B1B1B;
    border-radius: 4px;
	}
	.carrousel-menu img:hover{
		border: none;
	}
	/*tabla*/
	#tab{
		padding-top: 90px;	
	}
	/*tienda*/
	#tmovil{
    display: none;
	}
	#tpc{
    	display: block;
    	align-content: center;
	}
	#juego {
		width: inherit;
		height: inherit;
		text-align: center;
	}
}
