@charset "utf-8";
*{
    box-sizing: border-box;	
}
html{
	scroll-behavior: smooth;
	min-width: 250px;
}
h1{
    font-size: 2.5em; /*Tamaño de letras*/
	text-align: center;
}
p{
    font-size: 1.3em;
    text-align: justify;
    padding: 20px;
    margin: 0px;
}
ul{
    list-style: none;/*Tamaño de letras*/
}
li{
    font-size: 1.5em;/*Tamaño de letras*/
}
body{
	font-family: 'roboto' , sans-serif;
	margin: 0;
}
/*encabezado*/
header{
    background-color: #8C52FF;
    top: 0%;
    width: 100%;
    height: 150px;
}
header .logo-header{
    display: flex;
    margin-left: 0px;
    padding: 0;
    font-weight: bold;
    text-align: left;
    color: white;/*Color de letras*/
    font-size: 3.6em;
    height: 100%;
	align-items: center;
}
.logo-header img{
    width: 650px;
}
header .container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
	align-content: space-between;
}
/*navegador*/
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    align-content: center;
    position: absolute;
    right: 1px;
}
header ul li{
	display: inline-block;
}
#menu{
	display: none;
}
#menu-movil{
    list-style: none;
    padding: 0px;
    background-color: #8C52FF;
}
#menu-movil button{
    background-color: #ffffff00; 
    border: none;
}
#menu-movil li{
    position: relative;
    display: inline-block;
}
#menu-movil li:hover ul{
	display: block;
}
#menu-movil ul{
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 2px;
	background-color: #8C52FF;
    -webkit-box-shadow: 5px 7px #282828;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}
#menu-movil ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 1.0em;
}
#menu-movil li a{
	padding: 10px;
	text-decoration: none;
}
/*hipervinculos*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;/*Color de letras*/
}
header a:hover{
    color: #6443a5;/*Color de hipervinculos*/
}
/*contenido*/
.main_panel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.capsule{
    width: 100%;
}
.left_panel{
    width: 100%;
    height: 569px;
    padding: 20px 20px;
    background-color: #333533;
    box-shadow: 2px 10px 40px rgba(0,0,0,0.5);
}
#video{
    width: 100%;
    height: 529px;
    border-radius: 11px;
    box-shadow: 5px 10px 40px rgba(0,0,0,0.5);
}
.right_panel{
    width: 100%;
    text-align: justify;
}
#log{
	display: flex;
	align-items: center;
	flex-direction: column;
    padding: 20px;
}
#logo-Juego{
    width: 50%;
    margin-top: 3px;
}

/*carrusel*/
#carrousel{
	padding-top: 60px;
}
#carrousel-box{
    background-color: #333533;
    padding: 15px;
    width: 100%;
    height: 563px;
}
.carrousel ul{
	list-style: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
#carrousel-items{
	display: flex;
	gap: 20px;
	overflow: scroll;
}
#carrousel-items img{
    height: 531px;
    object-fit: contain;
    -webkit-box-shadow: 5px 7px #282828;
    box-shadow: 5px 7px #282828;
    border-radius: 5px;
}
#carrousel-menu{
    display: none;
}
/*tabla*/
#tab{
    width: 100%;
    align-items: center;
    padding-top: 60px;
}
#tabla{
    padding: 20px 0px;
}
#tabla td, th {
	text-align: center;
	border: 4px solid black;
	padding: 20px;
	height: 70px;
}
#tabla th{
    color: white;
}
.nada{
    background-color: white;
}
#requisitos{
	border: 4px solid black;
	width: 90%;
	padding:0px;
	margin: 0px auto;
	font:italic;
    font-size: 2em;
}
#requisitos th{
    background-color: #8C52FF;
}
/*comprar*/
#tienda{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
	padding: 20px 0px;
	margin-bottom: 20px;
}
#tienda h3{
    font-size: 2em;/*Tamaño de letras*/
    text-align: center;
}
#juego {
    width: 800px;
    height: 200px;
    text-align: center;
}
/*pie de pagina*/
footer{
    background-color: #333533; /*Color de fondo*/
    text-align: center;
}
footer a{
    margin: 0;
    color: white;/*Color de letras*/
    justify-content: center;
    display: flex;
}
footer p{
    margin: 0;
    color: white;/*Color de letras*/
    padding: 15px;
    font-size: 2.3em;/*Tamaño de letras*/
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
}
footer button{
    font-weight: bold;
    margin: 0px 35px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-sizing: 2px 2px 10px rgb(0,0,0,0.5);
    box-shadow: 5px 8px 10px rgba(0,0,0,0.5);
    color: white;/*Color de letras*/
    background-color: #8C52FF;/*Color de fondo*/
}
footer button:hover{
    background-color: #6443a5;
}



@media (min-width:1000px){
	header{
        position: fixed;
        height: 75px;
    }
    header .container{
        justify-content: space-between;
        flex-direction: row;
	}
    .logo-header img{
        width: auto;
        height: 75px;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #menu{
		display: block;
	}
    header ul li a{
        font-size: 1.0em;
    }
	#menu-movil{
		display: none;
	}
	/*contenido*/
    .main_panel{
        padding-top: 75px;
    }
    .capsule p{
        font-size: 1.6em;
        text-align: justify;
        margin: 0px;
    }
	.left_panel{
		width: 75%;
		height: 821px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 10px 20px 40px rgba(0,0,0,0.5);
	}
	#video{
		width: 100%;
		height: 780px;
		left: 0%;
	}
	#logo-Juego{
		width: 100%;
	}
	.right_panel{
    	width: 25%;
    	text-align: justify;
    	float: right;
    	margin-top: -810px;
	}
	/*carrusel*/
	#carrousel{
        padding-top: 75px;
	}
    #carrousel-box{
        height: auto;
    }
	#carrousel-items{
		overflow: hidden;
	}
	#carrousel-items img{
		height: 759px;
	}
	#carrousel-menu{
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: row;
        top: 96px;
	}
	#carrousel-menu img{
        box-sizing: border-box;
        height: 60px;
        margin-top: 15px;
        border: 5px solid #333533;
        border-radius: 4px;
	}
	#carrousel-menu img:hover{
		border: none;
	}
    .description2{
        padding: 20px 300px;
        font-size: 1.6em;
        text-align: justify;
        margin: 0px;
    }
	/*tabla*/
	#tab{
		padding-top: 85px;	
	}
    
    #tabla td, th {
	    text-align: center;
	    border: 2px solid black;
	    padding: 8px;
	    height: 70px;
    }
    #requisitos{
	    border: 2px solid black;
	    width: 90%;
	    padding:0px;
	    margin: 0px auto;
	    font:italic;
    }
    .description3{
        padding: 20px 300px;
        font-size: 1.6em;
        text-align: justify;
        margin: 0px;
    }
	/*tienda*/
    footer p{
        font-size: 1.4em;
    }

}
