@charset "utf-8";
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
	min-width: 250px;
}
ul{
    list-style: none;/*Tamaño de letras*/
}
li{
    font-size: 1.5em;/*Tamaño de letras*/
}
body{
    font-family: 'Roboto', sans-serif;/*Tipo de letras*/
    margin: 0;
}
/*encabezado*/
header{
    background-color: #0077b6;
    top: 0%;
    width: 100%;
    height: 150px;
}
header .logo-header{
	display: flex;
    margin-left: 10px;
    padding: 0;
    font-weight: bold;
    text-align: left;
    color: white;/*Color de letras*/
    font-size: 3.6em;
    height: 100%;
	align-items: center;
}
header .container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
	align-content: space-between;
}
/*navegador*/
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    align-content: center;
    position: absolute;
    right: 1px;
}
header ul li{
	display: inline-block;
}
#menu{
	display: none;
}
#menu-movil{
    list-style: none;
    padding: 0px;
}
#menu-movil li{
    position: relative;
    display: inline-block;
}
#menu-movil li:hover ul{
	display: block;
}
#menu-movil ul{
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 2px;
	background-color: #0077b6;
}
#menu-movil ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 1.0em;
}
#menu-movil li a:hover{
	color: #00b4d8;
}
#menu-movil li a{
	padding: 10px;
	text-decoration: none;
}
/*hipervinculos*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;/*Color de letras*/
}
header a:hover{
    color: #00b4d8;/*Color de hipervinculos*/
}
/*barra gris de fondo*/
#main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 550px;
    color: white;/*Color de letras*/
    background-color: #333533;
    width: 100%;
}
/*imagen principal*/
#maincont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px 100px;
    flex-direction: column;
    width: 95%;
    height: 535px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))/*Difuminado de fondo*/
		,url("imagenes/P3R-Key-Art-Header.jpg");/*Imagen de fondo*/
    margin-top: 20px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#main-arti{
    width: 90%;
}
#main-arti h1{
    font-size: 3.6em;
}
#main-arti p{
    font-size: 2.4em;
}
/*Reseñas*/
#rese{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
#rese .container{
    width: 100%;
	display:contents;
    justify-content: center;
    align-items:center;
}
#rese .res1{ /*selecciona a todos los res1*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 80px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 17px;
    width: 92%;
    height: 500px;
	text-align: center;
}
#rese .res2{ /*selecciona a todos los res2*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 80px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 17px;
    width: 92%;
    height: 500px;
	text-align: center;
}
#rese h2{
    font-size: 3.8em;/*Tamaño de letras*/
    color: white;
}
/*botones*/
#rese button{
    font-size:2.8em;/*Tamaño de letras*/
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.5);
    box-sizing: 2px 2px 15px rgb(0,0,0,0.5);
    color: white;/*Color de letras*/
    background-color: #0077b6;/*Color de fondo*/
}
#rese button:hover{
    background-color: #01497c;
}
/*Sombreados*/
.res1:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/ValiantHearts.jpg");
}
.res1:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/hellblade.jpg");
}
.res1:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/Persona-3-Reload-1.jpg");
}
.res2:nth-child(1){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/Celeste.jpg");
}
.res2:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/HollowK.jpg");
}
.res2:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("Imagenes/Forza.jpeg");
}
/*pie de pagina*/
footer{
    background-color: #333533; /*Color de fondo*/
    text-align: center;
}
footer a{
    margin: 0;
    color: white;/*Color de letras*/
    justify-content: center;
    display: flex;
}
footer p{
    margin: 0;
    color: white;/*Color de letras*/
    padding: 15px;
    font-size: 2.3em;/*Tamaño de letras*/
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
}
footer button{
    font-weight: bold;
    margin: 0px 35px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-sizing: 2px 2px 10px rgb(0,0,0,0.5);
    color: white;/*Color de letras*/
    background-color: #0077b6;/*Color de fondo*/
}
footer button:hover{
    background-color: #01497c;
}



@media (min-width:1000px){
    header{
        position: fixed;
        height: 75px;
    }
    header .container{
        justify-content: space-between;
        flex-direction: row;
	}
    header .logo-header{
        font-size: 2.2em;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #menu{
		display: block;
	}
    header ul li a{
        font-size: 1.0em;
    }
	#menu-movil{
		display: none;
	}
	/*contenido*/
	#main-content{
		padding-top: 75px;
        height: 650px;
	}
	#main-content h1{
        font-size: 5em;
    }
	#maincont{
		height: 100%;
        width: 51%;
        margin: 18px 0px;
	}
    #main-arti h1{
        font-size: 2.6em;
    }
    #main-arti p{
        font-size: 1.5em;
    }
	/*reseñas*/
	#rese{
        padding: 0px; /*para que se acomode el header*/
    }
    #rese .container{
        display:flex;
    }
    #rese h2{
        font-size: 2.6em;
    }
    #rese .res1{
    	padding: 64px;
        margin-top: 90px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 45px;
    	height: 365px;
    }
    #rese .res2{
        padding: 64px;
        margin-top: 45px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 90px;
        height: 365px;
    }
	#rese button{
        font-size:1.6em;/*Tamaño de letras*/
        padding: 10px 20px;
        border-radius: 10px;
    }
    footer p{
        font-size: 1.0em;
    }
	
}
