@charset "utf-8";

#menu{
	list-style: none;
	padding: 20px;
	background-color: aqua
}
#menu li{
	position: relative;
	display: inline-block;
}
#menu li:hover ul{
	display: block;
	
}
#menu ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0%;
	background-color: aqua;
}
#menu ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
}
#menu li a:hover{
	background-color: yellow;
}
#menu li a{
	padding: 10px;
	text-decoration: none;
	
}